.profile-filter {
    align-items: center;
    background: $whitish;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: .5rem 1rem;
    .searchbox {
        align-items: center;
        display: flex;
        flex: 1;
        .icon-search {
            color: grayer;
            margin-right: .5rem;
        }
        input {
            border: 0;
            border-bottom: 1px solid transparent;
            flex: 1;
            margin-right: 1rem;
            &:focus {
                border-bottom: 1px solid $gray-light;
                outline: none;
                transition: border-bottom .3s ease-in;
            }
        }
    }
    .filters {
        a {
            color: $gray-light;
            display: inline-block;
            padding: 0 .5rem;
            &:hover,
            &.active {
                color: $blackish;
            }
        }
    }
}

%profile-favs {
    border-bottom: 1px solid $whitish;
    display: flex;
    padding: 1rem;
    padding-right: 0;
    a:hover {
        color: $primary;
    }
    p {
        @extend %small;
        margin-bottom: 0;
    }
    .profile-tickets-track {
        @extend %small;
        color: $gray-light;
        flex-basis: 5.5rem;
        margin-left: auto;
    }
    .profile-project-likers,
    .profile-project-watchers {
        display: inline-block;
        width: 2.5rem;
        &.active {
            color: $primary;
            path {
                fill: currentcolor;
            }
        }
    }
    .profile-project-likers {
        margin-right: .5rem;
        @warn 'This should be updated with an SVG when watchers branch is merged';
    }
    .icon {
        svg {
            max-width: 1rem;
        }
        path {
            fill: currentcolor;
        }
    }
}

.profile-project-fav {
    @warn 'merge this styles with project-list-single because its the same layout';
    @extend %profile-favs;
    justify-content: space-between;
    h2 {
        @extend %large;
        @extend %normal;
        @extend %text;
        line-height: 1.6;
        margin-bottom: 0;
        text-transform: none;
    }
    p {
        @extend %light;
    }
    .profile-project-tags {
        margin: .5rem 0;
    }
}

.profile-ticket-fav {
    @extend %profile-favs;
    @warn 'merge this styles with working-on duty-single because its the same layout';
    .profile-tickets-avatar {
        flex-basis: 3rem;
        flex-shrink: 0;
        margin-right: .75rem;
        min-width: 3rem;
    }
    h2 {
        @extend %medium;
        @extend %normal;
        @extend %text;
        margin: .25rem 0 0;
        text-transform: none;
    }
    img {
        width: 100%;
    }
    .ticket-type,
    .ticket-project {
        margin-right: .3rem;
    }
    .ticket-project {
        @extend %small;
        color: $gray-light;
    }
    .profile-tickets-data {
        flex: 1;
        margin-right: 1rem;
    }
    .ticket-id {
        color: $gray-light;
        margin-right: .3rem;
    }
}
