.assigned-to-list {
    margin-top: 1rem;
    .assigned-to-list {
        margin-top: 1rem;
        min-height: 440px;
    }
    %assigned-to-single,
    .assigned-to-single {
        align-content: center;
        align-items: center;
        background: transparent;
        border-bottom: 1px solid $whitish;
        display: flex;
        padding: .5rem .5rem .3rem;
        vertical-align: middle;
        &:hover {
            background: lighten($primary, 58%);
            cursor: pointer;
            transition: background .3s linear;
            transition-delay: .2s;
        }
        &:last-child {
            border: 0;
        }
    }
    .assigned-to-single-active {
        @extend %assigned-to-single;
        background: lighten($primary, 55%);
        cursor: pointer;
        margin-bottom: 1rem;
        position: relative;
        transition: background .3s linear;
        transition-delay: .1s;
        .icon-delete {
            opacity: 1;
            position: absolute;
            right: 1rem;
            top: 1.3rem;
            transition: opacity .2s ease-in;
        }
    }
    .assigned-to-avatar {
        flex-basis: 3rem;
        margin-right: .5rem;
        max-width: 3rem;
        img {
            width: 100%;
        }
    }
    .assigned-to-name {
        @extend %light;
        color: $grayer;
    }
}
