//////////////////////
//Like buttons
//////////////////////

// CODE EXAMPLE
// a.like-button.like-container(href="", title="Like this project")
//     span.icon.like-icon
//         include ../../../svg/like.svg
//     span Like

.like-button {
    align-items: center;
    background: $whitish;
    border-radius: 4px;
    display: inline-flex;
    padding-right: .5rem;
    position: relative;
    width: 150px;
    &:hover {
        background: darken($whitish, 10%);
        color: $blackish;
        transition: background .3s;
    }
    &.active {
        background: rgba($primary-light, .2);
        .like-icon {
            background: $primary-light;
            path {
                fill: $white;
            }
        }
    }
    &.like-container {
        margin-right: 1rem;
        position: relative;
    }
    .like-icon {
        background: darken($whitish, 10%);
        margin-right: .75rem;
        padding: .4rem .5rem .4rem .4rem;
        svg {
            height: 1.1rem;
            position: relative;
            top: 2px;
            width: 1.1rem;
        }
        path {
            fill: $blackish;
        }
    }
    .icon-arrow-up {
        margin-left: auto;
        transform: rotate(180deg);
    }
}
