//////////////////////
//Watch like buttons
//////////////////////

.track-buttons-container {
    padding-bottom: 1rem;
    position: relative;
}

.track-button {
    align-items: stretch;
    display: inline-flex;
    position: relative;
    .track-inner {
        align-items: stretch;
        background: $whitish;
        border-radius: 4px 0 0 4px;
        display: inline-flex;
        flex: 1;
        margin-right: .1rem;
        width: 140px;
        &:hover {
            background: darken($whitish, 5%);
            transition: background .3s;
        }
        span {
            align-self: center;
        }
    }
    &:hover {
        color: $blackish;
    }
    &.active {
        .track-inner {
            background: rgba($primary-light, .2);
        }
    }
    &.watch-container {
        margin-right: 1rem;
        position: relative;
    }
    .track-icon {
        padding: .3rem .6rem .3rem .75rem;
        svg {
            height: 1.1rem;
            position: relative;
            top: 2px;
            width: 1.1rem;
        }
        path {
            fill: $grayer;
        }
    }
    .icon-arrow-up {
        margin-left: auto;
        margin-right: .25rem;
        transform: rotate(180deg);
    }
    .track-button-counter {
        align-items: center;
        border: 1px solid $whitish;
        display: flex;
        justify-content: center;
        min-width: 2rem;
    }
}

.like-button {
    margin-right: .75rem;
    &.active {
        path {
            fill: $red-light;
        }
    }
}

.watch-button {
    &.active {
        path {
            fill: $blackish;
        }
    }
}

.watch-options {
    animation: dropdownFade .2s cubic-bezier(.09, 0, .99, .01) alternate;
    background: rgba($black, .9);
    border-radius: 4px;
    margin: 0;
    margin-top: 2.5rem;
    min-width: 300px;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    &.hidden {
        animation: dropdownFade .2s cubic-bezier(.09, 0, .99, .01) reverse;
    }
    li {
        margin: 0;
        &:last-child a {
            border: 0;
        }
    }
    a {
        @extend %light;
        border-bottom: 1px solid rgba($gray-light, .3);
        color: $white;
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;
        &.active {
            color: $primary-light;
        }
    }
    .watch-check {
        height: 1.25rem;
        width: 1.25rem;
        path {
            fill: $primary-light;
        }
    }
}
