section.profile-likes
    div.profile-filter
        div.searchbox
            span.icon-search
            input(type="text", placeholder="Filter liked items")
        div.filters
            a.active(href="", title="All") All
            a(href="", title="All") Projects
            a(href="", title="All") Stories
            a(href="", title="All") Tasks
            a(href="", title="All") Issues
            
    div.profile-project-like
        div.profile-project-data
            h2
                a(href="", title="Visit PROJECT NAME") Project title
                span.private
            p Project description
        div.profile-project-track
            span.profile-project-likers 
                // include ../../../svg/like.svg
                span.icon-star-fill
                span 12
            span.profile-project-watchers
                span.icon-open-eye
                // include ../../../svg/watch.svg
                span 12
            
    div.profile-ticket-like
        a.profile-tickets-avatar(href="", title="Go to USER NAME profile")
            img(src="https://s3.amazonaws.com/uifaces/faces/twitter/thejacklonergan/128.jpg", alt="USER NAME")
        div.profile-tickets-data
            p
                span.ticket-project Taiga
                span.ticket-type Story
                span.ticket-status UX
            h2 
                span.ticket-id #322
                a.ticket-title(href="#", title="US_NAME") Review social network links in user profile
        div.profile-tickets-track
            span.profile-project-likers 
                // include ../../../svg/like.svg
                span.icon-star-fill
                span 12
            span.profile-project-watchers
                span.icon-open-eye
                // include ../../../svg/watch.svg
                span 12
