section.profile-likes
    div.profile-filter
        div.searchbox
            span.icon-search
            input(type="text", placeholder="Filter liked items")
        div.filters
            a.active(href="", title="All") All
            a(href="", title="All") Projects
            a(href="", title="Stories") Stories
            a(href="", title="Tasks") Tasks
            a(href="", title="Issues") Issues

    div(ng-if="vm.likes === undefined")
         div.spin
             img(src="/svg/spinner-circle.svg", alt="Loading...")

    div(tg-repeat="item in vm.likes track by $index", ng-switch="item.get('type')")
        div(ng-switch-when="project", tg-like-item="item", item-type="project")
        div(ng-switch-when="userstory", tg-like-item="item", item-type="userstory")
        div(ng-switch-when="task", tg-like-item="item", item-type="task")
        div(ng-switch-when="issue", tg-like-item="item", item-type="issue")
