.like-watch-container(ng-mouseleave="vm.toggleWatch = false")
    a.watch-like-button.like-container.js-like-button(
        href="", title="Like this project", ng-click="vm.toggleLike = !vm.toggleLike", ng-class="{'active': vm.toggleLike}") 
        span.watch-like-icon
            include ../../../svg/like.svg
        span(ng-if="!vm.toggleLike", translate="PROJECT.LIKE")
        span(ng-if="vm.toggleLike", translate="PROJECT.UNLIKE")
    a.watch-like-button.watch-container.js-watch-button(href="", title="Watch this project", ng-click="vm.toggleWatch = !vm.toggleWatch")
        span.watch-like-icon
            include ../../../svg/watch.svg
        span(translate="PROJECT.WATCH")
        span.icon.icon-arrow-up
    ul.watch-options(ng-class="{'hidden': !vm.toggleWatch}")
        li
            a.active(href="", title="Receive all notifications") 
                span(translate="PROJECT.NOTIFICATIONS.ALL")
                span.watch-check
                    include ../../../svg/check.svg
        li
            a(href="", title="Only involved") 
                span(translate="PROJECT.NOTIFICATIONS.INVOLVED")
                span.hidden.watch-check
                    include ../../../svg/check.svg
        li
            a(href="", title="Show activity only in timeline") 
                span(translate="PROJECT.NOTIFICATIONS.NONE")
                span.hidden.watch-check
                    include ../../../svg/check.svg
        
